<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">	
    <title>Results</title>
</head>
<body>
    <h1>Query Results</h1>
    <table>
       <thead>
            <tr>
				{% for col in columns %}
                <th>{{ col[0] }}</th>				
				{% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    <!-- Loop through row values to populate table cells -->
                    {% for value in row %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
