<!DOCTYPE html>
<html>
<head>
    <title>Message Page</title>
    <style>
        /* Center the message in the middle of the screen */
        body {
            display: flex;
            flex-direction: column; /* Stack elements vertically */
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }
    </style>
</head>
<body>
    <div>
        <a href="/allocate">
            <button style="font-size: 30px; padding: 20px 30px;">Return to allocate page</button>
        </a>
    </div>
    <div>
        <h1>{{ msg }}</h1>
    </div>
</body>
</html>