<!DOCTYPE html>
<html>
<head>
    <title>Message Page</title>
    <style>
        /* Center the message in the middle of the screen */
        body {
            display: flex;
            /*flex-direction: column;  Stack elements vertically */
            align-items: center;
            justify-content: center;
            height: 70vh;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
    <div>
        <a href="/allocate">
            <button style="font-size: 30px; padding: 20px 30px;">admin</button>
        </a>
    </div>
    <div>
        <a href="/view">
            <button style="font-size: 30px; padding: 20px 30px;">user</button>
        </a>
    </div>
</body>
</html>