{% extends 'base.html' %}

{% block title %}Update Assignments{% endblock %}

{% block additional_content %}
   <!-- Right column for the form selection -->
   <div class="form-container">
      <h1>Assign or drop user from network</h1>
      <form method="PATCH" action="/allocate">
         <label for="column1">User</label>
         <select name="user" id="column1">
            <option value="del_user">Remove assigned user</option>
            {% for value in column1_values %}
            <option value="{{ value[0] }}">{{ value[0] }}</option>
            {% endfor %}
         </select>
         <label for="column2">Network</label>
         <select name="network" id="column2">
            {% for value in column2_values %}
            <option value="{{ value[0] }}">{{ value[0] }}</option>
            {% endfor %}
         </select>
         <br>
         <input type="submit" value="Submit">
      </form>
   </div>
   <script src="{{ url_for('static', filename='js/update_table.js') }}"></script>
{% endblock %}
