<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/color-modes.js') }}"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

        <title>{% block title %} Resource Locking {%  endblock %}</title>

        {% block head %} {% endblock %}
    </head>

    {% block body %} {% endblock %}
</html>
