{% extends 'base.html' %}
{% block head %}
   <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
{% endblock %}
{% block body %}
   <!-- Left column for the table -->
   <div class="table-container">
      <table>
         <thead>
            <tr>
               {% for col in columns %}
               <th>{{ col }}</th>
               {% endfor %}
            </tr>
         </thead>
         <tbody>
            {% for row in data %}
            <tr>
               <!-- Loop through row values to populate table cells -->
               {% for value in row %}
               <td>{{ value }}</td>
               {% endfor %}
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>

{% if is_admin %}
   <!-- Right column for the form selection -->
   <div class="form-container">
      <h1>Assign or drop user from network</h1>
      <form method="PATCH" action="/home">
         <label for="column1">User</label>
         <select name="user" id="column1">
            <option value="DEL_USER">Remove assigned user</option>
            {% for value in column1_values %}
            <option value="{{ value[0] }}">{{ value[0] }}</option>
            {% endfor %}
         </select>
         <label for="column2">Network</label>
         <select name="network" id="column2">
            {% for value in column2_values %}
            <option value="{{ value[0] }}">{{ value[0] }}</option>
            {% endfor %}
         </select>
         <br>
         <input type="submit" value="Submit">
      </form>
   </div>
   <script src="{{ url_for('static', filename='js/update_table.js') }}"></script>
{% endif %}

<a href="/logout">Logout</a>

{% endblock %}
