{% extends 'base.html' %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resource Locking</title>
{% endblock %}
{% block body %}
    <h1>Resource Locking</h1>

        {%  if logged_in %}
            <a href="/logout">Logout</a>
        {%  else %}
            <a href="/login">Login</a>
        {%  endif %}

    <h2> Project description </h2> 
    
        <p> Made during 2023 Fall
            Semester Rowan University
        </p>
{% endblock %}
