{% extends 'base.html' %}
{% block title %}  Resource Locking Login {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block body %}
<div class="mainimage col-6">
        <img src="{{ url_for('static', filename='images/Lockheed_Martin_logo.svg.png') }}"
             alt="Lockheed Martin Logo" width="400">
</div>

    <div class="centercontainer col-6">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alert alert-danger">
                    {{ messages[0][1] }}
                </div>
            {% endif %}
        {% endwith %}

        <form method="POST" action="/login">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"
            placeholder="Enter username" required=""
            autocomplete="on">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"
            placeholder="Enter password" required=""
            autocomplete="on">
            <button type="submit">Login</button>
        </form>
    </div>
{% endblock %}
